{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock extra_css %}

{% block content %}
  {% if latest_polls_list %}
  <ul class="flex justify-between" x-data="{
    polls: {{ latest_polls_list }}
  }">
      <template x-for="poll in polls">
        <li>
          <a x-bind:href="'{{ polls_url }}' + poll.id" x-text="poll.question_text"></a>
        </li>
      </template>
    </ul>
  {% else %}
  <p>No polls are available.</p>
  {% endif %}
{% endblock content %}
